- var image_1 = "https://i.imgur.com/fnachDs.jpg"
- var image_2 = "https://i.imgur.com/tgtsl5V.jpg"
- var image_3 = "https://i.imgur.com/bMQVeR1.jpg"

.teaser-list
  .teaser
    .teaser-date.animated
      .bubble
      .date
        p.num
        hr
        p.month
    figure.media
      img(src= image_1)
    .body
      .title Daily Life
      .description Mission Mars and daily life
      .post-info
        .info
          span.glyphicon.glyphicon-eye-open
          span &nbsp;300
        .info
          span.glyphicon.glyphicon-comment
          span &nbsp;157
        .info
          span.glyphicon.glyphicon-user
          span &nbsp;136
    a.link(href="#")
  .teaser
    .teaser-date
      .bubble
      .date
        p.num
        hr
        p.month
    figure.media
      img(src= image_2)
    .body
      .title Pod Living
      .description The latest in pod living .. you can add additional living spaces
      .post-info
        .info
          span.glyphicon.glyphicon-eye-open
          span &nbsp;127
        .info
          span.glyphicon.glyphicon-comment
          span &nbsp;200
        .info
          span.glyphicon.glyphicon-user
          span &nbsp;5
    a.link(href="#")
  .teaser
    .teaser-date.animated
      .bubble
      .date
        p.num
        hr
        p.month
    figure.media
      img(src= image_3)
    .body
      .title Energy
      .description Solar farms on mars
      .post-info
        .info
          span.glyphicon.glyphicon-eye-open
          span &nbsp;455
        .info
          span.glyphicon.glyphicon-comment
          span &nbsp;100
        .info
          span.glyphicon.glyphicon-user
          span &nbsp;75
    a.link(href="#")